{% extends "ohb/base.html" %}
{% block content %}
<p>数字が大きい順ではなく、11＜2　101＜2となります。</p>
<form action="" method="POST">
    {{ formset.management_form }}
    <div class="form-group">
    <table class="table table-bordered">
        <tr>
            <th>Item</th>
            <th>No</th>
            
        </tr>

        {% for form in formset %}
        <tr>
          <!-- <label for="{{ form.item_no.id_for_label }}"> {{ form.instance.item_name }}</label> -->
         
          <td>{{ form.instance.item_name }}</td>
          <td> {{ form.item_no }}</td>
          <td> {{ form.id }}</td>
        </tr>
      {% endfor %}</div>
</table>

{% csrf_token %}
<button type="submit" class="btn btn-primary">送信</button>
</form>




{% endblock %}